*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* .box{
    background: url("image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #dadada;
    width: 100vw;
    height: calc(100vh - 25px);
    display: flex;
    /* justify-content: ; */
    /* align-items: ; */
    /* justify-content: flex-end;
    align-items: flex-end; */
      

/* }  */

/* a{
    text-decoration: underline wavy  black;
    color: red;

} */

 /* li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;
 }
 ul{
    padding-top: 10px;
 }
 nav{
    display: flex; */
    /* border: 2px solid black; */
    /* justify-content: space-between;
    height: 25px;
 } */

 .a{
    display: flex;
    width: 70%;
    height: 500px;
    /* flex-wrap: wrap; */
    background: #dadada;
    border: 2px solid black;
    /* flex-wrap: wrap; */
    /* justify-content:; */
    /* justify-items: center; */
    /* align-items: center; */
    
 }
 .box{
    width: 400px;
    height: 100px;
    background: #dadada;
    border: 2px solid black;
 }

 .box1{
   order: 3;
}
.box2{
   order: 2;
   
}
.box3{
    order: 1;

 }


